main {
    display: flex;
    height: 155vh;
    background-color: #009e8c;
    color: #e8e8e8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease;
}

main:hover {
    background-color: #0078ab;
}

#list {
    background-color: #037072;
    background-position: center;
    background-size: 99%;
    flex: 2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#list:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#form {
    background-color: #009e8c;
    flex: 2;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#form:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}



.task{
    background-color:#037072;
    padding: 10px;
    border-bottom: 2px solid black;
    border-radius: 3px;
    border-color: black;
    color: white;
    margin-bottom: 0px;
}
